// Global colors
$text-color-white: #ffeedb;
$text-color-dark: #404e4d;

// Dark colors
$bg-color-dark: #4c3b4d;
$bg-color2-dark: #ada8b6;

$about-section-color-dark: #181a1b;
$projects-section-color-dark: #2d3031;
$project-card-color-dark: #44494b;
$footer-section-color-dark: rgb(34, 34, 34);

// Light colors
$bg-color-light: #f4f3ee;
$bg-color2-light: #bcb8b1;
$bg-color3-light: #d9d9d9;

$about-section-color-light: $bg-color-light;
$projects-section-color-light: $bg-color3-light;
$project-card-color-light: #fff;
$footer-section-color-light: rgb(206, 206, 206);
