@import "../../../../css/colors.scss";

.title {
    padding-top: 2%;
}

.title-line {
    height: 15px;
    opacity: 1;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(129, 15, 163);
}
