@import "../../../../../css/colors.scss";

.footer-section {
    position: absolute;
    width: 100%;
}

.footer-section-dark {
    background-color: $footer-section-color-dark;
    color: $text-color-white;
}

.footer-section-light {
    background-color: $footer-section-color-light;
    color: $text-color-dark;
}